In [1]:
# Dependencies
import pandas as pd

In [2]:
#Filepath as variable

dataset1 = "Resources/Dataset1.csv"

In [3]:
dataset1_df = pd.read_csv(dataset1, encoding="ISO-8859-1", header=None)

In [4]:
dataset1_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,ï»¿C:\Users\wahid\Box Sync\PhD research\data f...,NaN,C:\Users\wahid\Box Sync\PhD research\data for ...,NaN,C:\Users\wahid\Box Sync\PhD research\data for ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ewe/V,<I>/mA,Ewe/V,<I>/mA,Ewe/V,<I>/mA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-0.460235029,-0.247163118,-0.460139513,-0.793835974,-0.460196823,-1.211096627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-0.460235029,-0.247019434,-0.460196823,-0.795327568,-0.460254133,-1.206461512,NaN,NaN,NaN,1.0,NaN,5.0,NaN,20.0,NaN,NaN,NaN,NaN
4,-0.460311413,-0.247091182,-0.460406929,-0.794714073,-0.460292339,-1.202671183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dataset1_df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], dtype='int64')

In [6]:
fix_header = dataset1_df.iloc[1]
dataset1_df = dataset1_df[2:]
dataset1_df.columns = fix_header
dataset1_df.head()

1,Ewe/V,<I>/mA,Ewe/V,<I>/mA,Ewe/V,<I>/mA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-0.460235029,-0.247163118,-0.460139513,-0.793835974,-0.460196823,-1.211096627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-0.460235029,-0.247019434,-0.460196823,-0.795327568,-0.460254133,-1.206461512,NaN,NaN,NaN,1.0,NaN,5.0,NaN,20.0,NaN,NaN,NaN,NaN
4,-0.460311413,-0.247091182,-0.460406929,-0.794714073,-0.460292339,-1.202671183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,-0.460426033,-0.246475378,-0.460464239,-0.792635469,-0.460502416,-1.213611106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Voltage = X,NaN,Current = Y
6,-0.460655242,-0.246579479,-0.460464239,-0.792194037,-0.460502416,-1.200391409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN